@media screen and (min-width: 1300px) {
    .container {
        width: 920px;
        flex-direction: row;
        justify-content: space-between;
        padding: 5% 5% 5% 0;
        margin-top: 0;
    }

    .imagepos {
        display: none;
    }

    .avatardesk {
        display: block;
    }

    .shadow {
        display: none;
    }

    .shadowdesk {
        display: block;
        position: absolute;
        top: 20%;
    }

    .boxpic {
        display: block;
        position: absolute;
        top: 40%;
        left: -10%;
    }

    .textside {
        align-items: start;
        gap: 43px;
        margin-top: 0;
    }

    .box {
        width: 350px;
        padding: 0 0 7% 0;
    }

    .questp {
        font-size: 14px;
    }

    .questp:hover {
        color: var(--phover);
    }
}